<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLH0lq3aR4hbr_EZpiE1dz_YGuNLX7lRc</string>
	<key>GCM_SENDER_ID</key>
	<string>315070944581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>muhtamim.com.drmdabdusshakoor</string>
	<key>PROJECT_ID</key>
	<string>dr-shakoor-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-shakoor-portfolio.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315070944581:ios:a2dd28f67cdf3c657c9a2c</string>
</dict>
</plist>